<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Cash Register</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <%= link_to 'Continue Shopping', root_path, class: 'nav-link' %>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-4">
    <h1>Your Cart</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <% @cart.cart_items.each do |item| %>
                <tr>
                    <td><%= item.product.name %></td>
                    <td><%= item.quantity %></td>
                    <td><%= item.product.price %>€</td>
                </tr>
            <% end %>
        </tbody>
    </table>
    
    <h3>Total Price: <%= @cart.total_price %>€</h3>
</div>